{% extends "base.html" %}
{% block content %}
<div class="home">
<h2>Menu</h2>
<div class="list-group">
  <a href="{{ url_for('register') }}" class="list-group-item list-group-item-action">1. Register Patient</a>
  <a href="{{ url_for('view_patients_route') }}" class="list-group-item list-group-item-action">2. View All Patients</a>
  <a href="{{ url_for('schedule') }}" class="list-group-item list-group-item-action">3. Schedule Appointment</a>
  <a href="{{ url_for('next_appt') }}" class="list-group-item list-group-item-action">4. Billing Calculation</a>
  <a href="{{ url_for('search') }}" class="list-group-item list-group-item-action">5. Search by Doctor</a>
</div>
</div>
{% endblock %}